*{
    padding: 0px;
    margin: 0px;
}
.head1{
    width: 35%;
    float: left;
    


}

.head2{
    width: 60%;
    float: right;
    
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0px;
    float: left;
    
    
  }
  li{
    
    float: left;
    margin: 10px;
    color: aliceblue;
    
  }
  li a{
    text-decoration: none;
    text-align: end;
    color: aliceblue;
  }
  .head{
    height: 40px;
    width: 100%;
    background-color: rgb(51, 53, 52);
    position: fixed;
    top: 0;


  }
  
  .body1{

  }

  .head2 a:hover{
    background-color: white;
    color: black;
  }

  .home{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .home{
    content: "";
    position:relative;
    background-image: url(background.jpg);
    top:0;
    right:0;
    height: 50%;
    width: 100%;
    z-index: -1;
    opacity:.8 ;

  }
  .btn:hover{
  
    color: aliceblue;
    cursor: pointer;
    background-color:black ;
  }
  #about{
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top:3%;
  
  }


h6{

}

#intro{
  float: left;
  position: relative;
  width: 50%;
  padding: 10% 0 0 10%;
  

}
#image{
  float: left;
  width: 40%;
  margin-top: 10%;
  position: sticky;
}
#contact{
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  background-color: rgb(47, 47, 46);
  color: white;
  padding: 20px;
  width: 100%;

}
.form{
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-items: center;
  margin: 20px 0px;
}
.input{
  padding: 12px;
  margin: 15px;
  width: 30%;
  border: none;
  outline: none;
}
#msg{
  width: 30%;
  padding: 10px;
  margin: 15px;
  border: none;
  outline: none;
}
#send{
  padding: 10px;
  width: 10%;
  margin: 40px;
  border: none;
  outline: none;
}
#send:hover{
  cursor: pointer;
  box-shadow: 0 0 10px white;

}
#Education{
  color: cadetblue;
  
}
